*{
    border: 1px solid red;
    
    
}

body{
background-color: aliceblue;
height: 100vh;
/*padding: 100px 0;*/
display: flex;
justify-content: space-between;

}
.container{
    max-width: 300px;
    margin: auto;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 5%;
    height: auto;
    box-shadow: 5px 5px 5px 5px rgba(201, 201, 201, 0.416) ;
    display: inline-block;
}
img{
   width: 300px;
   height: auto;
   border-radius: 5%;
   
}

p{
    text-align: center;
    /*margin-bottom: 10px;
    margin-left: 5px;*/
}

.first-para{
    font-weight: 700;
    font-size: 22px;
    opacity: 95%;
}

.second-para{
    font-weight: 400;
    opacity: 75%;
}